$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 75%;

  @media (max-width:767px) {
    width: 90%;
  }
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  color: #4b4141 !important;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 14px;
    cursor: text;
    top: 40px;
  }
}



.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: $gray;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: $primary;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #5783b9, #329ab9);
  border-image-slice: 1;
}

/* reset input */
.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* demo */


.form-control:focus {
  background-color: #fff !important;
  box-shadow: none !important;
  border-color: #fff !important;



}

.form-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* padding-left: 40px; */
  /* padding-right: 18px; */
  width: 100%;
  max-width: 690px;
  padding-left: 10%;
  padding-right: 5%;

  @include media-breakpoint-down(lg) {

    padding-right: 5%;
  }


}

.map-icon {
  padding-top: 15%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}